.links {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

.links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  transition: width 0.3s ease;
}

.links:hover {
  color: #1565c0;
}

.links:hover::after {
  width: 100%;
}
/* /FOOTER LINKS */
/* FOOTER ICONS */
.social-icons a {
  font-size: 1rem;
  color: #ffffff;
  background-color: #0d1117;
  border: 2px solid #2d2f33;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
}

.social-icons a:hover {
  background-color: #0d1a2f;
  color: #fff;
  box-shadow: 0 0 15px rgba(14, 164, 233, 0.288);
  transform: translateY(-4px) scale(1.1);
}